<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
</head>
<style>
    .table {
        width: 96%;
        margin-bottom: 20px;
        border-spacing: 0;
        margin: auto;
        border-collapse: collapse;
    }

    .table-bordered {
        border: 1px solid #ddd;
    }

    .table-bordered>tbody>tr>td,
    .table-bordered>tbody>tr>th,
    .table-bordered>tfoot>tr>td,
    .table-bordered>tfoot>tr>th,
    .table-bordered>thead>tr>td,
    .table-bordered>thead>tr>th {
        border: 1px solid #ddd;
        text-align: center;
    }

    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: center;
        border-top: 1px solid #ddd;
    }

    .myTable {
        width: 100%;
        overflow-x: scroll;
    }

    .table>caption+thead>tr:first-child>td,
    .table>caption+thead>tr:first-child>th,
    .table>colgroup+thead>tr:first-child>td,
    .table>colgroup+thead>tr:first-child>th,
    .table>thead:first-child>tr:first-child>td,
    .table>thead:first-child>tr:first-child>th {
        border-top: 0;
    }

    .table tbody th {
        font-weight: normal;
        word-break: break-word;
    }

    .table th.row1 {
        font-weight: bold;
    }

    .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    caption {
        padding-top: 8px;
        padding-bottom: 8px;
        color: #777;
        text-align: center;
    }

    .table>thead>tr>th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
    }

    th {
        text-align: left;
    }

    td,
    th {
        padding: 0;
    }

    img {
        width: 150px;
        height: 150px;
        margin: 8px;
    }

    .out-time th {
        color: red;
    }
    .out-time th {
        color: red;
    }
    .day-task th {
        color: blue;
    }
    .week-task th {
        color: #6666cc;
    }
    .month-task  th {
        color: green;
    }
</style>
<h3> Dear
    All: </h3>

     <h3 style="text-indent: 30px;">您單位目前IT服務預約之未完成單據如下,請您及時點擊
        <a target="_blank" href="http://10.86.1.15:8081/modules/reservation/IT/whole">這裡</a>
        進入系統處理，謝謝！</h3>

<body>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>状态</th>
                <th>服务时间</th>
                <th>问题描述</th>
                <th>需求人及联络方式</th>
                <th>处理人</th>
            </tr>
        </thead>
        <tbody>
            <%  
                for(var j = 0;j< list.length;j++) {
                    var target = list[j];
                    %>
            <tr class="<%= target.class %>">
                <th scope="row">
                    <%= target.STATUS %>
                </th>
                <th scope="row">
                    <%= target.service_time %>
                </th>
                <th scope="row">
                    <%= target.SERVICE_DESC %>
                </th>
                <th scope="row">
                    <%= target.CONTACT %>
                </th>
                <th scope="row">
                    <%= target.HANDLER_NAME %>
                </th>
            </tr>
            <% } %>
        </tbody>
    </table>

    <hr>
    <div style="color:blue">系統郵件，請勿回復</div>
</body>

</html>